orquestacion/src/main/app/practicafinal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9091" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="Demandante_Request" host="localhost" port="51776" basePath="/" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="demandantes.raml"/>
    </http:request-config>
    <http:request-config name="ListaCandidatos_Request" host="localhost" port="51776" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="listaCandidatos.raml"/>
    </http:request-config>
    <http:request-config name="Oferta_Request" host="localhost" port="51776" basePath="/" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="oferta.raml"/>
    </http:request-config>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <http:listener-config name="HTTP_Listener_Configuration2" host="0.0.0.0" port="9092" doc:name="HTTP Listener Configuration"/>
    <flow name="InscribirseOferta">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="Listener"/>
        <set-variable variableName="dniDemandante" value="#[json:dniDemandante]" doc:name="dniDemandante"/>
        <set-variable variableName="idOferta" value="#[json:idOferta]" doc:name="idOferta"/>
        <http:request config-ref="Demandante_Request" path="/demandante/{dni}/situacionLaboral" method="GET" doc:name="SituacionLaboral">
            <http:request-builder>
                <http:uri-param paramName="dni" value="#[flowVars.dniDemandante]"/>
            </http:request-builder>
            <http:failure-status-code-validator values="500"/>
        </http:request>
        <set-variable variableName="estado" value="#[json:estado]" doc:name="estado"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.status']=='200' &amp;&amp; flowVars.estado==false]">
                <set-payload value="#[{&quot;dniDemandante&quot; : flowVars.dniDemandante, &quot;idOferta&quot;: flowVars.idOferta, &quot;puntuacion&quot;: &quot;0&quot;}]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <http:request config-ref="ListaCandidatos_Request" path="/listaCandidatos" method="POST" doc:name="A&#241;adirListaCandidatos"/>
                <http:request config-ref="Oferta_Request" path="/oferta/{id}/requisitos" method="GET" doc:name="ObtenerRequisitosOferta">
                    <http:request-builder>
                        <http:uri-param paramName="id" value="#[flowVars.idOferta]"/>
                    </http:request-builder>
                </http:request>
                <set-variable variableName="edad_oferta" value="#[json:edad]" doc:name="edad_oferta"/>
                <set-variable variableName="titulos_oferta" value="#[json:titulos]" doc:name="titulos_oferta"/>
                <set-variable variableName="experiencia_oferta" value="#[json:experiencia]" doc:name="experiencia_oferta"/>
                <http:request config-ref="Demandante_Request" path="/demandante/{dni}" method="GET" doc:name="ObtenerPerfilDemandante">
                    <http:request-builder>
                        <http:uri-param paramName="dni" value="#[flowVars.dniDemandante]"/>
                    </http:request-builder>
                </http:request>
                <set-variable variableName="edad_demandante" value="#[json:edad]" doc:name="edad_demandante"/>
                <set-variable variableName="titulos_demandante" value="#[json:titulos]" doc:name="titulos_demandante"/>
                <set-variable variableName="experiencia_demandante" value="#[json:experiencia]" doc:name="experiencia_demandante"/>
                <set-payload value="#[{
	&quot;demand_dni&quot;: flowVars.dniDemandante,
	&quot;demand_edad&quot;: flowVars.edad_demandante,
	&quot;demand_titulos&quot;: flowVars.titulos_demandante,
	&quot;demand_experiencia&quot;: flowVars.experiencia_demandante,
	&quot;ofert_id&quot;: flowVars.idOferta,
	&quot;ofert_edad&quot;: flowVars.edad_oferta,
	&quot;ofert_titulos&quot;: flowVars.titulos_oferta,
	&quot;ofert_experiencia&quot;: flowVars.experiencia_oferta 
}]" doc:name="EntradaAsignarPuntuacion"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <http:request config-ref="ListaCandidatos_Request" path="/listaCandidatos" method="PUT" doc:name="AsignarPuntuacion"/>
                <json:json-to-xml-transformer doc:name="JSON to XML"/>
                <file:outbound-endpoint path="./" outputPattern="DocumentoInscripcion.xml" responseTimeout="10000" doc:name="File"/>
                <smtp:outbound-endpoint host="smtp.gmail.com" user="jvv13@gcloud.ua.es" password="Aragon21." connector-ref="Gmail" to="jvv13@gcloud.ua.es" from="jvv13@gcloud.ua.es" subject="[Notificacion] Empleado registrado correctamente" responseTimeout="10000" doc:name="SMTP"/>
                <set-payload value="#[&quot;El empleado &quot; + flowVars.dniDemandante + &quot; se ha registrado en la oferta &quot; + flowVars.idOferta +&quot; correctamente&quot;]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <when expression="#[message.inboundProperties['http.status']=='400']">
                <smtp:outbound-endpoint host="smtp.gmail.com" user="jvv13@gcloud.ua.es" password="Aragon21." connector-ref="Gmail" to="jvv13@gcloud.ua.es" from="jvv13@gcloud.ua.es" subject="[Notificacion] Error al inscribir en oferta de empleo" responseTimeout="10000" doc:name="SMTP"/>
                <set-payload value="#[&quot;Error: el empleado &quot; + flowVars.dniDemandante + &quot; esta trabajando&quot;]" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="ActualizarFechaRenovacion">
        <http:listener config-ref="HTTP_Listener_Configuration2" path="/" doc:name="HTTP"/>
        <set-variable variableName="dniDemandante" value="#[json:dniDemandante]" doc:name="dniDemandante"/>
        <set-variable variableName="fechaRenovacion" value="#[json:fechaRenovacion]" doc:name="fechaRenovacion"/>
        <http:request config-ref="Demandante_Request" path="/demandante/{dni}/situacionLaboral" method="GET" doc:name="ValidarSituacionLaboral">
            <http:request-builder>
                <http:uri-param paramName="dni" value="#[flowVars.dniDemandante]"/>
            </http:request-builder>
            <http:failure-status-code-validator values="500"/>
        </http:request>
        <set-variable variableName="estado" value="#[json:estado]" doc:name="estado"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.status']=='200' &amp;&amp; flowVars.estado==false]">
                <set-payload value="#[{&quot;fechaRenovacion&quot;: flowVars.fechaRenovacion}]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <http:request config-ref="Demandante_Request" path="/demandante/{dni}/fechaRenovacion" method="PUT" doc:name="ActualizarFechaRenovacion">
                    <http:request-builder>
                        <http:query-param paramName="RestKey" value="#[flowVars.dniDemandante]"/>
                        <http:uri-param paramName="dni" value="#[flowVars.dniDemandante]"/>
                    </http:request-builder>
                </http:request>
                <json:json-to-xml-transformer doc:name="JSON to XML"/>
                <file:outbound-endpoint path="./" outputPattern="DocumentoFechaRenovacion.xml" responseTimeout="10000" doc:name="File"/>
                <smtp:outbound-endpoint host="smtp.gmail.com" user="jvv13@gcloud.ua.es" password="Aragon21." connector-ref="Gmail" to="jvv13@gcloud.ua.es" from="jvv13@gcloud.ua.es" subject="[Notificacion] Fecha de renovacion actualizada" responseTimeout="10000" doc:name="SMTP"/>
                <set-payload value="#[&quot;El empleado &quot; + flowVars.dniDemandante + &quot; ha actualizado su fecha de renovacion&quot;]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <when expression="#[message.inboundProperties['http.status']=='200' &amp;&amp; flowVars.estado==true]">
                <smtp:outbound-endpoint host="smtp.gmail.com" user="jvv13@gcloud.ua.es" password="Aragon21." connector-ref="Gmail" to="jvv13@gcloud.ua.es" from="jvv13@gcloud.ua.es" subject="[Notificacion] Error al renovar la fecha de desempleo" responseTimeout="10000" doc:name="SMTP"/>
                <set-payload value="#[&quot;Error: el empleado &quot; + flowVars.dniDemandante + &quot; esta trabajando&quot;]" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
