orquestacion/target/classes/practicafinal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9092" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="Demandante_Request" host="localhost" port="51776" basePath="/" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="demandantes.raml"/>

    </http:request-config>
    <http:request-config name="ListaCandidatos_Request" host="localhost" port="51776" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="listaCandidatos.raml"/>

    </http:request-config>
    <http:request-config name="Oferta_Request" host="localhost" port="51776" basePath="/" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="oferta.raml"/>
    </http:request-config>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <http:request-config name="Demandante_Request2" host="localhost" port="51776" basePath="/demandante" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="demandantes.raml"/>
    </http:request-config>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="InscripcionCursoArtifacts.wsdl" service="InscripcionCursoService" port="InscripcionCursoPort" serviceAddress="http://localhost:9090/ode/processes/InscripcionCurso" doc:name="Web Service Consumer"/>
    <flow name="InscribirseOferta">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mule/inscribirseoferta" doc:name="Listener"/>
        <set-variable variableName="dniDemandante" value="#[json:dniDemandante]" doc:name="dniDemandante"/>
        <set-variable variableName="idOferta" value="#[json:idOferta]" doc:name="idOferta"/>
        <http:request config-ref="Demandante_Request" path="/demandante/{dni}/situacionLaboral" method="GET" doc:name="SituacionLaboral">
            <http:request-builder>
                <http:uri-param paramName="dni" value="#[flowVars.dniDemandante]"/>
            </http:request-builder>
            <http:failure-status-code-validator values="500"/>
        </http:request>

        <set-variable variableName="estado" value="#[json:estado]" doc:name="estado"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.status']=='200' &amp;&amp; flowVars.estado==false]">
                <set-payload value="#[{&quot;dniDemandante&quot; : flowVars.dniDemandante, &quot;idOferta&quot;: flowVars.idOferta, &quot;puntuacion&quot;: &quot;0&quot;}]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <http:request config-ref="ListaCandidatos_Request" path="/listaCandidatos" method="POST" doc:name="AnadirListaCandidatos">
                    <http:success-status-code-validator values="201,200,400"/>
                </http:request>
                <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>

                <http:request config-ref="Oferta_Request" path="/oferta/{id}/requisitos" method="GET" doc:name="ObtenerRequisitosOferta">
                    <http:request-builder>
                        <http:uri-param paramName="id" value="#[flowVars.idOferta]"/>
                    </http:request-builder>
                </http:request>
                <set-variable variableName="edad_oferta" value="#[json:edad]" doc:name="edad_oferta"/>
                <set-variable variableName="titulos_oferta" value="#[json:titulos]" doc:name="titulos_oferta"/>
                <set-variable variableName="experiencia_oferta" value="#[json:experiencia]" doc:name="experiencia_oferta"/>
                <http:request config-ref="Demandante_Request" path="/demandante/{dni}" method="GET" doc:name="ObtenerPerfilDemandante">
                    <http:request-builder>
                        <http:uri-param paramName="dni" value="#[flowVars.dniDemandante]"/>
                    </http:request-builder>
                </http:request>
                <set-variable variableName="edad_demandante" value="#[json:edad]" doc:name="edad_demandante"/>
                <set-variable variableName="titulos_demandante" value="#[json:titulos]" doc:name="titulos_demandante"/>
                <set-variable variableName="experiencia_demandante" value="#[json:experiencia]" doc:name="experiencia_demandante"/>
                <set-payload value="#[{
	&quot;demand_dni&quot;: flowVars.dniDemandante,
	&quot;demand_edad&quot;: flowVars.edad_demandante,
	&quot;demand_titulos&quot;: flowVars.titulos_demandante,
	&quot;demand_experiencia&quot;: flowVars.experiencia_demandante,
	&quot;ofert_id&quot;: flowVars.idOferta,
	&quot;ofert_edad&quot;: flowVars.edad_oferta,
	&quot;ofert_titulos&quot;: flowVars.titulos_oferta,
	&quot;ofert_experiencia&quot;: flowVars.experiencia_oferta 
}]" doc:name="EntradaAsignarPuntuacion"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <http:request config-ref="ListaCandidatos_Request" path="/listaCandidatos" method="PUT" doc:name="AsignarPuntuacion"/>
                <json:json-to-xml-transformer doc:name="JSON to XML"/>
                <file:outbound-endpoint path="./" outputPattern="DocumentoInscripcion.xml" responseTimeout="10000" doc:name="File"/>
                <smtp:outbound-endpoint host="smtp.gmail.com" user="jvv13@gcloud.ua.es" password="Aragon21." connector-ref="Gmail" to="jvv13@gcloud.ua.es" from="jvv13@gcloud.ua.es" subject="[Notificacion] Empleado registrado correctamente" responseTimeout="10000" doc:name="SMTP"/>
                <set-payload value="#[{ &quot;estado&quot;: true, &quot;mensaje&quot;: &quot;Se ha podido inscribir correctamente&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <when expression="#[message.inboundProperties['http.status']=='200' &amp;&amp; flowVars.estado==true]">
                <set-payload value="#[{ &quot;estado&quot;: false, &quot;mensaje&quot;: &quot;No se ha podido inscribir. Esta trabajando&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <when expression="#[message.inboundProperties['http.status']=='404']">
                <set-payload value="#[{ &quot;estado&quot;: false, &quot;mensaje&quot;: &quot;No se ha podido inscribir. No existe el demandante&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <otherwise>
                <set-payload value="#[{ &quot;estado&quot;: false, &quot;mensaje&quot;: &quot;No se ha podido inscribir. Error inesperado&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="ActualizarFechaRenovacion">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mule/renovarfecha" doc:name="Listener"/>
        <set-variable variableName="dniDemandante" value="#[json:dniDemandante]" doc:name="dniDemandante"/>
        <set-variable variableName="fechaRenovacion" value="#[json:fechaRenovacion]" doc:name="fechaRenovacion"/>
        <http:request config-ref="Demandante_Request" path="/demandante/{dni}/situacionLaboral" method="GET" doc:name="ValidarSituacionLaboral">
            <http:request-builder>
                <http:uri-param paramName="dni" value="#[flowVars.dniDemandante]"/>
            </http:request-builder>
            <http:failure-status-code-validator values="500"/>
        </http:request>

        <set-variable variableName="estado" value="#[json:estado]" doc:name="estado"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.status']=='200' &amp;&amp; flowVars.estado==false]">
                <set-payload value="#[{&quot;fechaRenovacion&quot;: flowVars.fechaRenovacion}]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
                <http:request config-ref="Demandante_Request" path="/demandante/{dni}/fechaRenovacion" method="PUT" doc:name="ActualizarFechaRenovacion">
                    <http:request-builder>
                        <http:query-param paramName="RestKey" value="#[flowVars.dniDemandante]"/>
                        <http:uri-param paramName="dni" value="#[flowVars.dniDemandante]"/>
                    </http:request-builder>
                </http:request>

                <json:json-to-xml-transformer doc:name="JSON to XML"/>
                <file:outbound-endpoint path="./" outputPattern="DocumentoFechaRenovacion.xml" responseTimeout="10000" doc:name="File"/>
                <smtp:outbound-endpoint host="smtp.gmail.com" user="jvv13@gcloud.ua.es" password="Aragon21." connector-ref="Gmail" to="jvv13@gcloud.ua.es" from="jvv13@gcloud.ua.es" subject="[Notificacion] Fecha de renovacion actualizada" responseTimeout="10000" doc:name="SMTP"/>
                <set-payload value="#[{ &quot;estado&quot;: true, &quot;mensaje&quot;: &quot;Se ha renovado correctamente&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <when expression="#[message.inboundProperties['http.status']=='200' &amp;&amp; flowVars.estado==true]">
                <set-payload value="#[{ &quot;estado&quot;: false, &quot;mensaje&quot;: &quot;No se ha podido renovar. Esta trabajando&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <when expression="#[message.inboundProperties['http.status']=='404']">
                <set-payload value="#[{ &quot;estado&quot;: false, &quot;mensaje&quot;: &quot;No se ha podido renovar. No existe el demandante&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <otherwise>
                <set-payload value="#[{ &quot;estado&quot;: false, &quot;mensaje&quot;: &quot;No se ha podido renovar. Error inesperado&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="AltaDemandante">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mule/altademandante" allowedMethods="POST" doc:name="Listener"/>
        <http:request config-ref="Demandante_Request2" path="/demandante" method="POST" doc:name="SolicitudAlta">
            <http:request-builder>
                <http:query-param paramName="dni" value="#[payload.dni]"/>
                <http:query-param paramName="nombre" value="#[payload.nombre]"/>
                <http:query-param paramName="apellidos" value="#[payload.apellidos]"/>
                <http:query-param paramName="pass?" value="#[payload.'pass?']"/>
                <http:query-param paramName="direccion" value="#[payload.direccion]"/>
                <http:query-param paramName="poblacion" value="#[payload.poblacion]"/>
                <http:query-param paramName="telefono" value="#[payload.telefono]"/>
                <http:query-param paramName="email" value="#[payload.email]"/>
                <http:query-param paramName="fecha_nacimiento" value="#[payload.fecha_nacimiento]"/>
                <http:query-param paramName="fecha_renovacion" value="#[payload.'fecha_renovacion?']"/>
                <http:query-param paramName="edad" value="#[payload.edad]"/>
                <http:query-param paramName="titulos" value="#[payload.titulos]"/>
                <http:query-param paramName="experiencia" value="#[payload.experiencia]"/>
            </http:request-builder>
            <http:success-status-code-validator values="201,409"/>
        </http:request>
        <set-variable variableName="estado" value="#[message.inboundProperties['http.status']=='201']" doc:name="estado"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 2.0
%output application/java
---
{
	"estado":flowVars.estado,
	"mensaje":payload.mensaje
}]]></dw:set-payload>
        </dw:transform-message>
        <set-payload value="#[{ &quot;estado&quot;: payload.estado, &quot;mensaje&quot;: payload.mensaje }]" doc:name="Set Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="RESULTADO: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="practicafinalFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mule/inscribircurso" doc:name="Listener"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="e343dbb8-d641-4178-b05d-10ba96c5812f">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://eclipse.org/bpel/sample
---
{
	ns0#InscripcionCursoRequest: {
		ns0#dni: payload.dniDemandante,
		ns0#password: payload.passwordDemandante,
		ns0#id_oferta: payload.idCurso as :number
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="process" doc:name="InscribirDemandanteCurso"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="9747e808-c6f7-4b23-a151-30ece2c6ceb1">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://eclipse.org/bpel/sample
---
{
	titulo: payload.ns0#InscripcionCursoResponse.ns0#output.ns0#titulo,
	descripcion: payload.ns0#InscripcionCursoResponse.ns0#output.ns0#descripcion,
	tipo: payload.ns0#InscripcionCursoResponse.ns0#output.ns0#tipo
}]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="tipo" value="#[json:tipo]" doc:name="NotificacionTipo"/>
        <set-variable variableName="titulo" value="#[json:titulo]" doc:name="NotificacionTitulo"/>
        <set-variable variableName="descripcion" value="#[json:descripcion]" doc:name="NotificacionDescripcion"/>
        <choice doc:name="Choice">
            <when expression="#[json:tipo == true]">
                <set-payload value="#[{&quot;tipo&quot;: flowVars.tipo, &quot;titulo&quot;: flowVars.titulo, &quot;descripcion&quot;: flowVars.descripcion, &quot;fecha&quot;: &quot;2002-07-01T13:50:05Z&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </when>
            <otherwise>
                <set-payload value="#[{&quot;tipo&quot;: flowVars.tipo, &quot;titulo&quot;: flowVars.titulo, &quot;descripcion&quot;: flowVars.descripcion, &quot;fecha&quot;: &quot;2002-07-01T13:50:05Z&quot; }]" doc:name="Set Payload"/>
                <json:object-to-json-transformer doc:name="Object to JSON"/>
            </otherwise>
        </choice>
    </flow>
</mule>
